{% extends 'layout.html'%}
{% block title %} Home {% endblock%}

{% block body %}
<div class="container">
  <h1 class="text-center m-3">¡Welcome!</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Insert a new country</h2>
      <form action="/add_country" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control w-25">
        <button type="submit" class="btn btn-success m-1">
            Submit
        </button>
        
      </form>
    </div>
    <div class="col-6">
      <table>
        <tr>
          <th>Country</th>
          <th>Action</th>
        </tr>
        {% for country in countries %}
        <tr>
          <td>{{country.name}}</td>
          <td> <a class="btn btn-danger" href="/delete_country/{{country.id}}">
            Delete
          </a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}